<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>hmm</title>
</head>
<body>
    <h1>Hello {{session.displayName}}, you are not registered :c</h1>
    <a href="/register">How to register</a>
</body>
</html>